body{
background-image:url("back2.jpg");
background-repeat:no-repeat;
background-size:100% 100%;
background-attachment:fixed;
color:white;
margin:0px;
}
.box{
	width: 320px;
	height: 420px;
	background: rgba(0,0,0,0.5);
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
}
.avtar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}
h1{
	margin: 0;
	padding: 0 0 20px;
	font-size: 22px;
}
.box p{
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 18px;
}
.box input{
	width: 100%;
	margin-bottom: 20px;
}
.box input[type="text"], input[type="Password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
.box input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	background: #1e90ff;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}
.box input[type="submit"]:hover
{
	background: #39dc79;
	color: #000;
	cursor: pointer;
}
.box .dot{
	text-decoration: none;
	font-size: 14px;
	color: #fff;
}
.box .dot:hover{
	color: #39dc79;
}