body{
background-image:url("back.jpg");
background-repeat:no-repeat;
background-size:100% 100%;
background-attachment:fixed;
color:white;
margin:0px;
}

.blog{
margin:0px;
padding:0px;
list-style:none;
}
.item{
float:left;
width:14.28%;
overflow:hidden;
height:6.1vh;
background-color:blue;
opacity:.8;
line-height:6.1vh;
text-align:center;
font-size:3.3vmin;
}
ul li a{
text-decoration:none;
color:white;
display:block;
}
ul li a:hover{
background-color:red;
color:#7fff00;
font-size:3.8vmin;
}

ul li a:active{
	background-color: black;
	color: white;
}
.head{
	text-align: center;
	font-size: 4vw;

}

button{
	font-size: 20px;
	background-color: blue;
	color: white;
	border:none;
	display: inline-block;
	cursor: pointer;
	padding: 8px 16px;
	margin-top: 2px;
}

button:hover{
	background-color: red;
}
.image{
	text-align: center;
	display: inline-block;
	transition: transform .2s;
	margin-top: 3%;
	margin-left: 10%;
	margin-bottom: 3%;
	font-size: 3.5vmin;
}
.image img{
	width: 20vmax;
	height: 20vmax;
	border-radius: 50%;
}
.image:hover {
  transform: scale(1.1);
}
